# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120

# Java files
[*.java]
indent_size = 4
max_line_length = 140

# XML files (Maven POM, Spring config)
[*.{xml,xsd,xsl,xslt}]
indent_size = 2

# Properties files
[*.properties]
indent_size = 4

# YAML files
[*.{yml,yaml}]
indent_size = 2

# JSON files
[*.json]
indent_size = 2

# Python files
[*.py]
indent_size = 4
max_line_length = 88

# Python configuration files
[*.{cfg,ini}]
indent_size = 4

# Requirements files
[requirements*.txt]
indent_size = 4

# JavaScript/TypeScript
[*.{js,ts,jsx,tsx}]
indent_size = 2

# CSS/SCSS
[*.{css,scss,sass}]
indent_size = 2

# HTML
[*.html]
indent_size = 2

# Markdown
[*.md]
trim_trailing_whitespace = false
max_line_length = 80

# Shell scripts
[*.{sh,bash,zsh,fish}]
indent_size = 2
end_of_line = lf

# Windows batch files
[*.{bat,cmd}]
end_of_line = crlf

# Docker files
[Dockerfile*]
indent_size = 2

# SQL files
[*.sql]
indent_size = 2

# Make files (must use tabs)
[{Makefile,*.mk}]
indent_style = tab
indent_size = 4

# CSV/TSV files
[*.{csv,tsv}]
trim_trailing_whitespace = false

# Configuration files
[.{editorconfig,gitignore,gitattributes}]
indent_size = 2

# LICENSE files
[LICENSE*]
indent_size = 2
max_line_length = 80

# README files
[README*]
indent_size = 2
max_line_length = 80